@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcumb area -->
<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 txtc  text-center ccase">
                <div class="brpt">
                    <h2>Single Blog</h2>
                </div>
                <div class="breadcumb-inner">
                    <ul>
                        <li>You here! <i class="icofont-thin-right"></i></li>
                        <li><a href="#">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Single Blog</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb area -->
<!-- BLOG AREA -->
<div class="witr-blog-side-area blog_area single_blog single_blog_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-12">
                <!-- SINGLE BLOG -->
             @*    <div class="single_blog single_blog_grid singles">
                    <div class="single_blog_thumb">
                        <img src="assets/images/blog-08.jpg" alt="image">
                    </div> *@
                    <!-- BLOG TITLE -->
                    <div class="starntile-single-blog-details-inner">
                        <div class="starntile-single-blog-title">
                            <h1>ÇİFTÇİLERİMİZİN DİKKATİNE</h1>
                        </div>
                        <div class="starntile-blog-meta">
                            <div class="starntile-blog-meta-left">
                                <span><i class="fas fa-calendar-alt"></i>04 Ocak , 2023</span>
                                @* <a href="#"><i class="fas fa-user"></i> starntile</a>
                                <a href="#"><i class="fas fa-comment"></i>0 Comments</a> *@
                            </div>
                        </div>
                        <div class="starntile-single-blog-content">
                            <div class="single-blog-content">
                            <p> MAZOT VE GÜBRE DESTEKLEMELERİ ÇİFTÇİLERİMİZİN HESAPLARINA TANIMLANMIŞ OLUP ZİRAAT BANKASI CEP MOBİL ÜZERİNDEN GİRİŞ YAPILIP KARTLARIM -BANKA KARTLARIM-BANKA KARTI SEÇİMİ-KART AYARLARI- HESAP EKLEME ÇIKARMA- TARIMSAL DESTEKELEME (ALIŞVERİŞ) EKRANINI ADIMLARINI İZLEYEREK AKTİF HALE GETİRİLKDİKTEN SONRA, AKARYAKIT İSTASYONUMUZDA ZİRAAT BANKASI BAŞAK KART POS CİHAZI MEVCUT OLUP HİÇBİR KESİNTİ OLMADAN MAZOT ALIŞVERİŞİ YAPILMAKTADIR ÇİFTÇİLERİMİZE ÖNEMLE DUYURULUR </p>
                                <blockquote>
                                    <p>Half of Life is lost in charming others. The other half is lost in going through anxieties caused by others. Leave this play, you have played enough.</p>
                                    <footer>Rumi – Developer</footer>
                                </blockquote>
                                <p> Since most of us spend a considerable portion of our daily time on mobile apps and since they have a plethora of options for every app niche, knowing their specific needs, priorities, preferences, and expectations become very crucial for app marketers. This is why every app must conduct elaborate market research before starting with an app project. Even while the app is ready for launch, you need to make a launch plan based upon the most suitable channels and marketing message for your target audience. </p>
                                <div class="wp-block-group">
                                    <div class="wp-block-group__inner-container">
                                        <h2> Plan Your Project with Your Software </h2>
                                    </div>
                                </div>

                                <p> A vast majority of the app marketers mainly concentrate on the post-launch app marketing techniques and measures while completely missing on the pre-launch campaign. This prevents the app to create buzz and hype just around the time when the app is launched. As and when you launch the app, already a considerable number of people should expectantly look forward to your app and this requires long-drawn marketing efforts leading up to the app launch event. To create pre-launch buzz and hype about the app & a mobile app development company & has an array of marketing options like social media campaign, search engine ads, video ads, email campaigns, etc. </p>
                                <p> Just as a retail business in real life is remembered not just for its product offerings but also because of its services, support, and customer-friendliness, an app that offers a & helpful customer support system & for its valued users enjoy more traction and engagement than other apps. Great brands all over the globe enjoy appreciation and popularity because of their customer-friendly support and services. </p>
                                <p class="wp-block-tag-cloud">Your site doesn’t have any tags, so there’s nothing to display here at the moment.</p>
                                <p class="wp-block-tag-cloud">
                                    <a href="#">business</a>
                                    <a href="#">It</a>
                                    <a href="#">marketing</a>
                                    <a href="#">SEO</a>
                                    <a href="#">solution</a>
                                    <a href="#">startup</a>
                                    <a href="#">strategy</a>
                                    <a href="#">tips</a>
                                </p>
                            </div>
                            <div class="wp-block-group block">
                                <div class="wp-block-group__inner-container">
                                    <blockquote class="wp-block-quote has-text-align-center is-style-large">
                                        <p>“Do you see over yonder, friend Sancho, thirty or forty hulking giants? I intend to do battle with them and slay them.”</p>
                                        <cite>— Don Quixote</cite>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="starntile-blog-social">
                            <div class="starntile-single-icon">
                                <div class="starntile-single-icon-inner">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-reddit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   @*              <div class="comments-area">
                    <div class="comment-respond ">
                        <div class="commment_title">
                            <h3> leave a comment </h3>
                        </div>
                        <form action="mail.php" method="post" id="contact-form">
                            <div class="comment_forms">
                                <div class="comment_forms_inner">
                                    <div class="comment_field">
                                        <div class="input-field">
                                            <label>Name<em>*</em></label>
                                            <input type="text" name="name" placeholder="Your Name">
                                        </div>
                                        <div class="input-field">
                                            <label>E-mail Address<em>*</em></label>
                                            <input type="email" name="email" placeholder="Email Address">
                                        </div>
                                        <div class="input-field">
                                            <label>Website<em>*</em></label>
                                            <input type="text" name="website" placeholder="Your Website">
                                        </div>
                                    </div>
                                    <div class="comment_field">
                                        <div class="textarea-field">
                                            <label>Comment<em>*</em></label>
                                            <textarea name="comment" placeholder="Write your comment..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" name="ok" class="starntile_btn">Post Comment</button>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 sidebar-right content-widget pdsl">
                <div class="blog-left-side widget">
                    <div class="widget widget_search">
                        <div class="defaultsearch">
                            <form>
                                <input type="text" name="search" placeholder="Search" title="Search for:">
                                <button type="submit" class="icons">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget_archive">
                        <h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="#">April 2023</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_recent_data">
                        <div class="single-widget-item">
                            <h2 class="widget-title">Recent Posts</h2>
                            <div class="recent-post-item">
                                <div class="recent-post-image">
                                    <a href="#"><img src="assets/images/blog-08.jpg" alt="image"></a>
                                </div>
                                <div class="recent-post-text">
                                    <h4><a href="#">Short loin shankle meatball tongue spare ribs rump</a></h4>
                                    <span class="rcomment">April 6, 2023</span>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <div class="recent-post-image">
                                    <a href="#"><img src="assets/images/blog-07.jpg" alt="image"></a>
                                </div>
                                <div class="recent-post-text">
                                    <h4><a href="#">Default Interest Rate in Small Loans Now is Lowest</a></h4>
                                    <span class="rcomment">April 6, 2023</span>
                                </div>
                            </div>
                            <div class="recent-post-item">
                                <div class="recent-post-image">
                                    <a href="#"><img src="assets/images/blog-06.jpg" alt="image"></a>
                                </div>
                                <div class="recent-post-text">
                                    <h4><a href="#">U.S. fund managers trim bank stocks on profit worries</a></h4>
                                    <span class="rcomment">April 6, 2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_categories">
                        <h2 class="widget-title">Categories</h2>
                        <ul>
                            <li><a href="#">business</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">May 12, 2023</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_meta">
                        <h2 class="widget-title">Meta</h2>
                        <ul>
                            <li><a href="#">Log in</a></li>
                            <li><a href="#">Entries feed</a></li>
                            <li><a href="#">Comments feed</a></li>
                            <li><a href="#">HTML.org</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_calendar">
                        <h2 class="widget-title">Calendar</h2>
                        <div id="calendar_wrap" class="calendar_wrap">
                            <table id="wp-calendar" class="wp-calendar-table">
                                <caption>May 2023</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Monday">M</th>
                                        <th scope="col" title="Tuesday">T</th>
                                        <th scope="col" title="Wednesday">W</th>
                                        <th scope="col" title="Thursday">T</th>
                                        <th scope="col" title="Friday">F</th>
                                        <th scope="col" title="Saturday">S</th>
                                        <th scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="pad">&nbsp;</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td id="today">16</td>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                        <td class="pad" colspan="2">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Previous and next months" class="wp-calendar-nav">
                                <span class="wp-calendar-nav-prev"><a href="https://azijulbd.com/wp/starntile/2023/05/">« May</a></span>
                                <span class="pad">&nbsp;</span>
                                <span class="wp-calendar-nav-next">&nbsp;</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@