@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 txtc  text-center ccase">
                <div class="brpt">
                    <h2>Extraction Worker</h2>
                </div>
                <div class="breadcumb-inner">
                    <ul>
                        <li>You here! <i class="icofont-thin-right"></i></li>
                        <li><a href="#">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Extraction Worker</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="st_ab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
               @*  <div class="ab_img">
                    <img src="assets/images/about.jpg" alt="image">
                </div> *@
            </div>
            <div class="col-lg-12 col-md-12 witr_all_pd0">
                <div class="ab_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2 class="font-weight-bold">Ergün Akaryakıt Afyonkarahisar-Bolvadin</h2>
                            <p class="font-weight-bold">
                                İstasyonumuz 7/24 hizmet vermekte olup Bolvaidn Çobanlar yolu 2. Km'sinde yer almaktadır.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="witr_text_widget">
                                <div class="witr_text_widget_inner">
                                    <div class="witr_widget_list">
                                        <ul>
                                            <li>
                                                <span class="witr_list_icon font-weight-bold"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">7/24 Market</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon font-weight-bold"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">Wc-Mescit</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon font-weight-bold"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">Araç Yıkama</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <div class="col-lg-6 col-md-12">
                            <div class="coun_inner">
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">86</h3>
                                        <span>%</span>
                                        <h4>Coal Production </h4>
                                    </div>
                                </div>
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">866</h3>
                                        <span>+</span>
                                        <h4>Expert Engineers</h4>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="st_map_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 witr_all_pd0">
                <div class="map_inner_area">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.7171825099495!2d31.02036867633797!3d38.70134025824798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cfaf279e816c17%3A0x7ed7ce7205871c74!2sERG%C3%9CN%20AKARYAKIT%20%C4%B0STASYONU!5e0!3m2!1str!2str!4v1706359073019!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
