@{
    ViewData["Title"] = "Home Page";
}

<!-- mobile menu -->
<div class="mobile_logo_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mobilemenu_con">
                    <div class="mobile_menu_logo text-center">
                        <a href="index.html" title="starntile">
                            <img src="assets/images/logo1.png" alt="starntile">
                        </a>
                    </div>
                    <div class="mobile_menu_option">
                        <div class="mobile_menu_o mobile_opicon">
                            <i class="icofont-navigation-menu openclass"></i>
                        </div>
                        <div class="mobile_menu_inner mobile_p">
                            <div class="mobile_menu_content">
                                <div class="mobile_menu_logo text-center">
                                    <a href="index.html" title="starntile">
                                        <img src="assets/images/logo1.png" alt="starntile">
                                    </a>
                                </div>
                                <div class="menu_area mobile-menu">
                                    <nav class="starntile_menu">
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Ana Sayfa</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">test1</a></li>
                                                    <li><a href="video_page.html">test2</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About</a></li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Service</a>
                                                <ul class="sub-menu">
                                                    <li><a href="service.html">Service</a></li>
                                                    <li><a href="heavy_equipment.html">Heavy Equipment</a></li>
                                                    <li><a href="underground_mining.html">Underground Mining</a></li>
                                                    <li><a href="coal_mining_machine.html">Coal Mining Machine</a></li>
                                                    <li><a href="extraction_worker.html">Extraction Worker</a></li>
                                                    <li><a href="mining_exploration.html">Mining & Exploration</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="team.html">Team</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="portfolio.html">Portfolio</a></li>
                                                    <li><a href="faq.html">faq</a></li>
                                                    <li><a href="our_clients.html">Our Clients</a></li>
                                                    <li><a href="progress_bar.html">Progress Bar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile_menu_o mobile_cicon">
                                    <i class="icofont-close closeclass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Menu -->
<div class="witr_swiper_area">
    <div class="swiper-container swiper_active">
        <div class="swiper-wrapper">
            <!-- single item -->
            <div class="swiper-slide d1 t1 m1 witr_swiper_height" style="background-image:url(assets/images/slider1.jpg);">
                <div class="witr_sw_text_area text-left">
                    <div class="witr_swiper_content">
                        <h2>ERGÜN AKARYAKIT</h2>
                        <h3>LTD. ŞTİ.</h3>
                        <p>
                            There are many variations words passages of Ipsum don't
                            available, but the majority.
                        </p>
                        <div class="slider_btn">
                            <div class="witr_btn_style">
                                <div class="witr_btn_sinner">
                                    <a class="witr_btn" href="#">Quick Service</a>
                                    <a class="witr_btn active recpwit" href="#">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- end slider area -->
<!-- feature title -->
<div class="st_fea_title_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h3>FAALİYETLERİMİZ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="st_fea_area">
    <div class="container">
        <div class="row">
            <!-- 1 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left">
                    <div class="sub-item ">
                        <img src="images/akaryakıtikon.png" alt="image">
                        <br />
                        <h1 class="mb-3">Akaryakıt İstasyonu</h1>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
            <!-- 2 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left">
                    <div class="sub-item ">
                        <img src="images/araçyıkamaikon.png" alt="image">
                        <h2>7/24 Araç Yıkama</h2>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
            <!-- 3 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left">
                    <div class="sub-item ">
                        <img src="images/store-icon-design-symbol-market-retail-building-storefront-for-ecommerce-free-vector.jpg" alt="image">
                        <h2>7/24 Market</h2>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area -->
<div class="st_ab_area">
    <div class="container">
        <div class="row">
            @* <div class="col-lg-6 col-md-6">
                <div class="ab_img">
                    <img src="assets/images/about.jpg" alt="image">
                </div>
            </div> *@
            <div class="col-lg-12 col-md-6 witr_all_pd0">
                <div class="ab_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h3>Ergün Akaryakıt'a Hoşgeldiniz!</h3>
                            <p class="font-weight-bold">
                                Afyonkarahisar'ın Bolvadin İlçesinde 2010 yılından beri faaliyette olan tesisimiz, Bolvadin-Çobanlar yolu 2.Km üzerinde buluunmaktadır.
                                Tesisimiz 7/24 Açık olup hizmet vermektedir.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="witr_text_widget">
                                <div class="witr_text_widget_inner">
                                    
                                    <div class="witr_widget_list">
                                        <ul>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">Akaryakıt İstasyonu</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">7/24 Market</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">7/24 Araç Yıkama</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text font-weight-bold">Mescit ve Dinlenme Alanı</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                      @*   <div class="col-lg-6 col-md-12">
                            <div class="coun_inner">
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">86</h3>
                                        <span>%</span>
                                        <h4>Coal Production </h4>
                                    </div>
                                </div>
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">866</h3>
                                        <span>+</span>
                                        <h4>Expert Engineers</h4>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area -->
@* <div class="st_ser_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Explor Services</h2>
                        <h3>We Offering Best Service in</h3>
                        <h1>This Company</h1>
                    </div>
                </div>
            </div> *@
         @*    <!-- 1 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s2.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-city-hall"></i>
                        </div>
                        <h3>Home Charging </h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s1.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-contract"></i>
                        </div>
                        <h3>Smart Connected</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s3.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-ui"></i>
                        </div>
                        <h3>Renewable Energy</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- testimonial area -->
@* <div class="st_test_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Our Testimonial</h2>
                        <h3>What Our Client Say’s</h3>
                    </div>
                </div>
                <div class="test_inner test_act">
                    <!-- 1 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Richard Anderson <span>Managing Director</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Poral Dawson <span>Manager</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- project area -->
@* <div class="st_proj_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_pslide4 witr_pslide3 all_pslides_color ps1 ps3">
                    <div class="proj_act">
                        <!-- 1 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p1.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3>
                                                    <a href="#">
                                                        Florida Chemical
                                                        Factory
                                                    </a>
                                                </h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p3.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Public Fuel Stations</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p4.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Gas Pump Nemo Vole</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- team area -->
@* <div class="st_team_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>OUR MEMBER </h2>
                        <h3>The Industry Leaders</h3>
                    </div>
                </div>
            </div>
            <!-- 1 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-01.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Zames Sienna </h5>
                        <span>Director &amp; CEO </span>
                    </div>
                </div>
            </div>
            <!-- 2 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-02.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Nicolas Poran</h5>
                        <span>Founder</span>
                    </div>
                </div>
            </div>
            <!-- 3 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-01.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Zames Sienna </h5>
                        <span>Director &amp; CEO </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="team_bttm_cont">
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <img src="assets/images/tb.jpg" alt="image">
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>
                                                Please feel free to contact our friendly reception staff with any mine enquiry,<br>
                                                or <span>Call 010615475795</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- brand area css -->
@* <div class="mc_brand_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel_imagess_area">
                    <div class="brand_act">
                        <!-- single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br1.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 02 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 03 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br3.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 04 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items">
                                <a href="#"><img src="assets/images/br4.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 05 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br5.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 06 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- choose area -->
<div class="st_chose_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="chose_left">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h3>Neden Bizi Tercih Etmelisiniz?</h3>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Uygun Fiyat Garantisi</h3>
                                        </div>
                                        <div class="em-service-desc">
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Güvenilir Marka Sonsuz Kalite</h3>
                                        </div>
                                        <div class="em-service-desc">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="count2_inner">
                    <!-- 1 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon6.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">13</h3>
                            <span>+</span>
                            <h4>Yılı Aşkın Deneyim </h4>
                        </div>
                    </div>
                    <!-- 2 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon8.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">10</h3>
                            <span>+</span>
                            <h4>Marka Anlaşması </h4>
                        </div>
                    </div>
                    <!-- 3 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon9.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">100</h3>
                            <span>%</span>
                            <h4>Kalite ve Güven </h4>
                        </div>
                    </div>
                    <!-- 4 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon11.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">100</h3>
                            <span>&</span>
                            <h4>Ücret İadesi </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area -->
<div class="st_faq_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq_left">
                    <div class="single_image_area">
                        <div class="single_image single_line_option">
                            <img src="assets/images/faq-thumb.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="faq_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h3>Sıkça Sorulan Sorular</h3>
                        </div>
                    </div>
                    <div class="accordion_area">
                        <div class="faq-part">
                            <div id="accordion">
                                <div class="card card-2 active show">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_f099384">
                                            <i class=""></i>
                                            Aracıma yanlış yakıt dolumu gerçekleşti ne yapmalıyım?
                                        </a>
                                    </div>
                                    <div id="collapse_f099384" class="collapse ac_s_padding active show" data-parent="#accordion">
                                        <p>Yanlış yakıt doldurma işlemini akaryakıt istasyonunda yapan görevli ve dolayısıyla istasyon sorumludur. İstasyonda verilen fişin bu yüzden saklanması ve yapılan hatalı işlemin kanıtlanması zorunludur.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_99261ce">
                                            <i class=""></i>
                                            Dizel yakıt kaç derecede yanar?
                                        </a>
                                    </div>
                                    <div id="collapse_99261ce" class="collapse ac_s_padding  " data-parent="#accordion">
                                        <p>Dizel yakıtın parlama noktaları 52 ve 96 °C (126 ve 205 °F) arasında değişmektedir. Dizel, sıkıştırmalı ateşlemeli bir motorda kullanım için uygundur.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_add4c8f">
                                            <i class=""></i>
                                            Soğuk havada dizel yakıt donar mı?
                                        </a>
                                    </div>
                                    <div id="collapse_add4c8f" class="collapse ac_s_padding" data-parent="#accordion">
                                        <p> Dizel motor, sıcaklık -40 derecenin altına düştüğünde donar. Dizel yakıt, dizel motorla aynı sıcaklıkta donmaz.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_d7754e9">
                                            <i class=""></i>
                                            Dizel sistem temizleyici yakıt katkısı işe yarar mı ?
                                        </a>
                                    </div>
                                    <div id="collapse_d7754e9" class="collapse ac_s_padding" data-parent="#accordion">
                                        <p>Özellikle de yüksek basınca ve düşük kükürde sahip olan bu katkılar, egzoz emisyonlarının gelişmesine ve iyileşmesine yardımcı olur. İlk çalışma esnasında koku ve duman çıkışını azaltır. Yakıt sisteminde ve yanma odasında toz ve birikime engel olur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- circle progress -->
<div class="st_cir_area">
    <div class="container">
        <div class="row">
            <!-- 1 single circle -->
            <div class="col-lg-6 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr1">
                        <span class="witr_cir_text">100%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Müşteri Memnuniyeti</h3>
                    </div>
                </div>
            </div>
            <!-- 2 single circle -->
            <div class="col-lg-6 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr2">
                        <span class="witr_cir_text">100%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Uygun Fiyat Garantisi</h3>
                    </div>
                </div>
            </div>
           @*  <!-- 3 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr3">
                        <span class="witr_cir_text">73%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Country Cover</h3>
                    </div>
                </div>
            </div>
            <!-- 4 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr1">
                        <span class="witr_cir_text">85%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Project Done</h3>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</div>
@* <!-- video area -->
<div class="st_video_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-part">
                    <div class="video-overlay witr_all_color_v">
                        <div class="video-item witr_none_before text-center">
                            <a class="tx_svd_icon video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg">
                                <i class="icofont-ui-play"></i>
                            </a>
                            <h3>Watch Video This Play </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- starntile blog area -->
@* <div class="starntile_blog_area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Our Blog &amp; Event</h2>
                        <h3>we are there for you to achieve</h3>
                        <h1>higher growth.</h1>
                    </div>
                </div>
                <div class="witr_blog_area13 witr_blog_area14">
                    <div class="blog_wrap blog_act">
                        <!-- 1 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                            <div class="busi_singleBlog">
                                <div class="witr_sb_thumb">
                                    <a href="#">
                                        <img src="assets/images/blog-08.jpg" alt="image">
                                    </a>
                                    <div class="witr_top_category">
                                        <ul class="post-categories">
                                            <li><a href="#" rel="category tag">May 12, 2023</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="all_blog_color">
                                    <div class="witr_blog_con bs5">
                                        <h2><a href="single-blog.html">Short loin shankle meatball tongue spare ribs</a></h2>
                                        <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                        <div class="em-blog-content-area_adn ">
                                            <div class="learn_more_adn">
                                                <a class="learn_btn adnbtn2" href="#">Read More </a>
                                            </div>
                                        </div>
                                        <div class="witr_blog_border"></div>
                                        <span><a href="#"><i class="icofont-user-alt-3"></i> Starntile</a></span>
                                        <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                            <div class="busi_singleBlog">
                                <div class="witr_sb_thumb">
                                    <a href="#">
                                        <img src="assets/images/blog-07.jpg" alt="image">
                                    </a>
                                    <div class="witr_top_category">
                                        <ul class="post-categories">
                                            <li><a href="#" rel="category tag">May 12, 2023</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="all_blog_color">
                                    <div class="witr_blog_con bs5">
                                        <h2><a href="single-blog.html">U.S. fund managers trim bank stocks on</a></h2>
                                        <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                        <div class="em-blog-content-area_adn ">
                                            <div class="learn_more_adn">
                                                <a class="learn_btn adnbtn2" href="#">Read More </a>
                                            </div>
                                        </div>
                                        <div class="witr_blog_border"></div>
                                        <span><a href="#"><i class="icofont-user-alt-3"></i> Starntile</a></span>
                                        <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                            <div class="busi_singleBlog">
                                <div class="witr_sb_thumb">
                                    <a href="#">
                                        <img src="assets/images/blog-06.jpg" alt="image">
                                    </a>
                                    <div class="witr_top_category">
                                        <ul class="post-categories">
                                            <li><a href="#" rel="category tag">May 12, 2023</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="all_blog_color">
                                    <div class="witr_blog_con bs5">
                                        <h2><a href="single-blog.html">Default Interest Rate in Small Loans Now</a></h2>
                                        <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                        <div class="em-blog-content-area_adn ">
                                            <div class="learn_more_adn">
                                                <a class="learn_btn adnbtn2" href="#">Read More </a>
                                            </div>
                                        </div>
                                        <div class="witr_blog_border"></div>
                                        <span><a href="#"><i class="icofont-user-alt-3"></i> Starntile</a></span>
                                        <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                            <div class="busi_singleBlog">
                                <div class="witr_sb_thumb">
                                    <a href="#">
                                        <img src="assets/images/blog-05.jpg" alt="image">
                                    </a>
                                    <div class="witr_top_category">
                                        <ul class="post-categories">
                                            <li><a href="#" rel="category tag">May 12, 2023</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="all_blog_color">
                                    <div class="witr_blog_con bs5">
                                        <h2><a href="single-blog.html">Within the construction industry as their overdraft</a></h2>
                                        <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                        <div class="em-blog-content-area_adn ">
                                            <div class="learn_more_adn">
                                                <a class="learn_btn adnbtn2" href="#">Read More </a>
                                            </div>
                                        </div>
                                        <div class="witr_blog_border"></div>
                                        <span><a href="#"><i class="icofont-user-alt-3"></i> Starntile</a></span>
                                        <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
