
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="witr_swiper_area">
    <div class="swiper-container swiper_active">
        <div class="swiper-wrapper">
            <!-- single item -->
            <div class="swiper-slide d1 t1 m1 witr_swiper_height" style="background-image:url(assets/images/slider1.jpg);">
                <div class="witr_sw_text_area text-left">
                    <div class="witr_swiper_content">
                        <h2>Best Dream Oiler</h2>
                        <h3>Station Point.</h3>
                        <p>
                            There are many variations words passages of Ipsum don't
                            available, but the majority.
                        </p>
                        <div class="slider_btn">
                            <div class="witr_btn_style">
                                <div class="witr_btn_sinner">
                                    <a class="witr_btn" href="#">Quick Service</a>
                                    <a class="witr_btn active recpwit" href="#">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- end slider area -->
<!-- feature title -->
<div class="st_fea_title_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>EXPLOR FEATURES</h2>
                        <h3>We Started Coal Mining</h3>
                        <h1>Company For You</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="st_fea_area">
    <div class="container">
        <div class="row">
            <!-- 1 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left">
                    <div class="sub-item ">
                        <img src="assets/images/icon1.png" alt="image">
                        <h3><a href="#">Explore the features</a></h3>
                        <h2>Maintenance Service </h2>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
            <!-- 2 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left fea_midd">
                    <div class="sub-item ">
                        <img src="assets/images/icon2.png" alt="image">
                        <h3><a href="#">Explore the features</a></h3>
                        <h2>Public Fuel Stations</h2>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
            <!-- 3 single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_feature_13 sub-border-2 all_feature_color text-left">
                    <div class="sub-item ">
                        <img src="assets/images/icon3.png" alt="image">
                        <h3><a href="#">Explore the features</a></h3>
                        <h2>Gas Pump Nemo Vole</h2>
                        <p>Orci varius natoque penatibus etagnis dis parturient montes, nascetur iculus tellus mi placerat sapien. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about area -->
<div class="st_ab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ab_img">
                    <img src="assets/images/about.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="ab_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2>EXPLOR FEATURES </h2>
                            <h3>Join The New Innovation With Technical Workforce</h3>
                            <p>
                                Becididunt ut labore et dolore magna aliqua dnim veniam, quis nos trud exe
                                laboris nisi ut aliquip volutpat quis in semper qui dolorem ipsum quia dolor
                                sit amet consectetur adipisci velit sed quia non numquam eius modi tempo
                                ra incidunt finibus quisque pellentesque metus.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="witr_text_widget">
                                <div class="witr_text_widget_inner">
                                    <h2>Our Facility</h2>
                                    <p>Fugit nemo quia consequuntur aspe magni dolores</p>
                                    <div class="witr_widget_list">
                                        <ul>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">Testing for Traces Impurities.</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">In Vitro Testing for Cosmetics.</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">The serves a seamless exten.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="coun_inner">
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">86</h3>
                                        <span>%</span>
                                        <h4>Coal Production </h4>
                                    </div>
                                </div>
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">866</h3>
                                        <span>+</span>
                                        <h4>Expert Engineers</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area -->
<div class="st_ser_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Explor Services</h2>
                        <h3>We Offering Best Service in</h3>
                        <h1>This Company</h1>
                    </div>
                </div>
            </div>
            <!-- 1 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s2.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-city-hall"></i>
                        </div>
                        <h3>Home Charging </h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s1.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-contract"></i>
                        </div>
                        <h3>Smart Connected</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s3.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-ui"></i>
                        </div>
                        <h3>Renewable Energy</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial area -->
<div class="st_test_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Our Testimonial</h2>
                        <h3>What Our Client Say’s</h3>
                    </div>
                </div>
                <div class="test_inner test_act">
                    <!-- 1 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Richard Anderson <span>Managing Director</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Poral Dawson <span>Manager</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project area -->
<div class="st_proj_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_pslide4 witr_pslide3 all_pslides_color ps1 ps3">
                    <div class="proj_act">
                        <!-- 1 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p1.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3>
                                                    <a href="#">
                                                        Florida Chemical
                                                        Factory
                                                    </a>
                                                </h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p3.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Public Fuel Stations</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p4.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Gas Pump Nemo Vole</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team area -->
<div class="st_team_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>OUR MEMBER </h2>
                        <h3>The Industry Leaders</h3>
                    </div>
                </div>
            </div>
            <!-- 1 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-01.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Zames Sienna </h5>
                        <span>Director &amp; CEO </span>
                    </div>
                </div>
            </div>
            <!-- 2 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-02.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Nicolas Poran</h5>
                        <span>Founder</span>
                    </div>
                </div>
            </div>
            <!-- 3 single team -->
            <div class="col-lg-4 col-md-6">
                <div class="team-part all_color_team">
                    <div class="witr_team_section">
                        <img src="assets/images/team-01.jpg" alt="image">
                        <div class="team_overlay_icon all_team_icon_o_color">
                            <a href="#">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="witr_team_content all_content_bg_color text-center">
                        <h5>Zames Sienna </h5>
                        <span>Director &amp; CEO </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="team_bttm_cont">
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <img src="assets/images/tb.jpg" alt="image">
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>
                                                Please feel free to contact our friendly reception staff with any mine enquiry,<br>
                                                or <span>Call 010615475795</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area css -->
<div class="mc_brand_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel_imagess_area">
                    <div class="brand_act">
                        <!-- single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br1.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 02 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 03 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br3.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 04 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items">
                                <a href="#"><img src="assets/images/br4.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 05 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br5.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 06 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose area -->
<div class="st_chose_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="chose_left">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2>WHY CHOOSE US  </h2>
                            <h3>A Right Choice that Makes the Difference to Others</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Best Quality Services </h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>Lorem Ipsum is simply free text available in your not dummy text of the printing and typesetting industry. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Standards of Oiled</h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>Lorem Ipsum is simply free text available in your not dummy text of the printing and typesetting industry. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="count2_inner">
                    <!-- 1 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon6.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">86</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 2 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon8.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">25</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 3 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon9.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">59</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 4 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon11.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">99</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area -->
<div class="st_faq_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq_left">
                    <div class="single_image_area">
                        <div class="single_image single_line_option">
                            <img src="assets/images/faq-thumb.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="faq_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2>OUR FAQ</h2>
                            <h3>Frequently Asked Questions?</h3>
                        </div>
                    </div>
                    <div class="accordion_area">
                        <div class="faq-part">
                            <div id="accordion">
                                <div class="card card-2 active show">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_f099384">
                                            <i class=""></i>
                                            01. Do You Need A Business Service?
                                        </a>
                                    </div>
                                    <div id="collapse_f099384" class="collapse ac_s_padding active show" data-parent="#accordion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_99261ce">
                                            <i class=""></i>
                                            02. Business Service A Scam?
                                        </a>
                                    </div>
                                    <div id="collapse_99261ce" class="collapse ac_s_padding  " data-parent="#accordion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_add4c8f">
                                            <i class=""></i>
                                            03. Most Out Of Your Business Service?
                                        </a>
                                    </div>
                                    <div id="collapse_add4c8f" class="collapse ac_s_padding" data-parent="#accordion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                                <!-- card -->
                                <div class="card card-2">
                                    <div class="card-header witr_ac_card">
                                        <a href="#" class="card-link witr_ac_style" data-toggle="collapse" data-target="#collapse_d7754e9">
                                            <i class=""></i>
                                            04. The Sound Of Business Service?
                                        </a>
                                    </div>
                                    <div id="collapse_d7754e9" class="collapse ac_s_padding" data-parent="#accordion">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu ad minim veniam, quis nostrud exercitation.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- circle progress -->
<div class="st_cir_area">
    <div class="container">
        <div class="row">
            <!-- 1 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr1">
                        <span class="witr_cir_text">83%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Happy Clients</h3>
                    </div>
                </div>
            </div>
            <!-- 2 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr2">
                        <span class="witr_cir_text">93%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Factory Business</h3>
                    </div>
                </div>
            </div>
            <!-- 3 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr3">
                        <span class="witr_cir_text">73%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Country Cover</h3>
                    </div>
                </div>
            </div>
            <!-- 4 single circle -->
            <div class="col-lg-3 col-md-6">
                <div class="witr_circle_area">
                    <div class="witr_cp_class witr_cr1">
                        <span class="witr_cir_text">85%</span>
                    </div>
                    <div class="witr_circle_title">
                        <h3>Project Done</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video area -->
<div class="st_video_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-part">
                    <div class="video-overlay witr_all_color_v">
                        <div class="video-item witr_none_before text-center">
                            <a class="tx_svd_icon video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg">
                                <i class="icofont-ui-play"></i>
                            </a>
                            <h3>Watch Video This Play </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>