
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 txtc  text-center ccase">
                <div class="brpt">
                    <h2>About</h2>
                </div>
                <div class="breadcumb-inner">
                    <ul>
                        <li>You here! <i class="icofont-thin-right"></i></li>
                        <li><a href="#">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">About</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb area -->
<!-- about area -->
<div class="st_ab_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ab_img">
                    <img src="assets/images/about.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 witr_all_pd0">
                <div class="ab_content">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2>EXPLOR FEATURES </h2>
                            <h3>Join The New Innovation With Technical Workforce</h3>
                            <p>
                                Becididunt ut labore et dolore magna aliqua dnim veniam, quis nos trud exe
                                laboris nisi ut aliquip volutpat quis in semper qui dolorem ipsum quia dolor
                                sit amet consectetur adipisci velit sed quia non numquam eius modi tempo
                                ra incidunt finibus quisque pellentesque metus.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="witr_text_widget">
                                <div class="witr_text_widget_inner">
                                    <h2>Our Facility</h2>
                                    <p>Fugit nemo quia consequuntur aspe magni dolores</p>
                                    <div class="witr_widget_list">
                                        <ul>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">Testing for Traces Impurities.</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">In Vitro Testing for Cosmetics.</span>
                                            </li>
                                            <li>
                                                <span class="witr_list_icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="witr_list_text">The serves a seamless exten.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="coun_inner">
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">86</h3>
                                        <span>%</span>
                                        <h4>Coal Production </h4>
                                    </div>
                                </div>
                                <div class="witr_counter_single all_counter_color">
                                    <div class="witr_counter_number_inn">
                                        <h3 class="counter">866</h3>
                                        <span>+</span>
                                        <h4>Expert Engineers</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <!-- service area -->
<div class="st_ser_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Explor Services</h2>
                        <h3>We Offering Best Service in</h3>
                        <h1>This Company</h1>
                    </div>
                </div>
            </div>
            <!-- 1 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s2.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-city-hall"></i>
                        </div>
                        <h3>Home Charging </h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s1.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-contract"></i>
                        </div>
                        <h3>Smart Connected</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 single service -->
            <div class="col-lg-4 col-md-6">
                <div class="witr_service2 service_overflow_inherit all_service2_color">
                    <div class="witr_service2_image">
                        <img src="assets/images/s3.jpg" alt="image">
                    </div>
                    <div class="witr_servicetwo_text">
                        <div class="witr_service2_icon_bottom">
                            <i class="aprova aprova-ui"></i>
                        </div>
                        <h3>Renewable Energy</h3>
                        <p>Production dolor sit amet, consectetur dip scing adipisicing elit, sed do eiusmod por incididunt ut labore  </p>
                        <div class=" witr_btn_all_color">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial area -->
<div class="st_test_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_section_title">
                    <div class="witr_section_title_inner text-center">
                        <h2>Our Testimonial</h2>
                        <h3>What Our Client Say’s</h3>
                    </div>
                </div>
                <div class="test_inner test_act">
                    <!-- 1 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Richard Anderson <span>Managing Director</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Poral Dawson <span>Manager</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4 single testimonial -->
                    <div class="witr_testi_itemt testi-width all_color_testimonial">
                        <div class="em_single_testimonial">
                            <div class="em_test_thumb test-part">
                                <img src="assets/images/testi1.png" alt="image">
                            </div>
                            <div class="em_testi_title">
                                <h2>Elwin Dawson <span>Designer</span></h2>
                            </div>
                            <div class="em_testi_logo">
                                <div class="em_testilogo_inner">
                                </div>
                            </div>
                            <div class="test-part">
                                <ul>
                                    <li>
                                        <div class="execllent_toggol">
                                            <div class="em_crating">
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                                <i class="icofont-star active"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="em_testi_content">
                                    <div class="em_testi_text">
                                        <p>This is ipsum dolor sit amet, sectetu is icing elit, sed do eiusmod tempor unt ut labore et dolore magna liqua. veniam quis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project area -->
<div class="st_proj_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="witr_pslide4 witr_pslide3 all_pslides_color ps1 ps3">
                    <div class="proj_act">
                        <!-- 1 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p1.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3>
                                                    <a href="#">
                                                        Florida Chemical
                                                        Factory
                                                    </a>
                                                </h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 2 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 3 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p3.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Public Fuel Stations</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p4.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Gas Pump Nemo Vole</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5 single project -->
                        <div class="witr_pslide2 all_pslides_color ps1 ps2">
                            <div class="witr_cslide_idp">
                                <div class="item_pos col-lg-12">
                                    <div class="witr_single_pslide">
                                        <div class="witr_pslide_image">
                                            <img src="assets/images/p2.jpg" alt="image">
                                        </div>
                                        <div class="witr_content_pslide_text">
                                            <div class="witr_content_pslide">
                                                <h3><a href="#">Maintenance Service</a></h3>
                                                <p>Morbi tincidunt, eros nec auctor sagittis, tellus mi placerat sapien, id malesuada magna nisl consequat ipsum. </p>
                                            </div>
                                            <div class="witr_pslide_btnb">
                                                <a href="#">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand area css -->
<div class="mc_brand_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="carousel_imagess_area">
                    <div class="brand_act">
                        <!-- single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br1.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 02 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 03 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br3.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 04 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items">
                                <a href="#"><img src="assets/images/br4.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 05 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br5.jpg" alt="image"></a>
                            </div>
                        </div>
                        <!-- 06 single brand -->
                        <div class="col-lg-12">
                            <div class="slide_items  ">
                                <a href="#"><img src="assets/images/br2.jpg" alt="image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose area -->
<div class="st_chose_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="chose_left">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <h2>WHY CHOOSE US  </h2>
                            <h3>A Right Choice that Makes the Difference to Others</h3>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Best Quality Services </h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>Lorem Ipsum is simply free text available in your not dummy text of the printing and typesetting industry. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single item -->
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box witr_s_flex">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont icofont-check"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Standards of Oiled</h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>Lorem Ipsum is simply free text available in your not dummy text of the printing and typesetting industry. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="count2_inner">
                    <!-- 1 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon6.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">86</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 2 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon8.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">25</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 3 single item -->
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon9.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">59</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                    <!-- 4 single item -->
                    <div class="witr_counter_single all_counter_color mar_left">
                        <div class="witr_counter_img">
                            <img src="assets/images/icon11.png" alt="image">
                        </div>
                        <div class="witr_counter_number_inn">
                            <h3 class="counter">99</h3>
                            <span>+</span>
                            <h4>Years Experineces </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video area -->
<div class="st_video_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-part">
                    <div class="video-overlay witr_all_color_v">
                        <div class="video-item witr_none_before text-center">
                            <a class="tx_svd_icon video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg">
                                <i class="icofont-ui-play"></i>
                            </a>
                            <h3>Watch Video This Play </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@